{#

This file is part of the ASBO package.

(c) De Ron Malian <deronmalian@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'AsboWebBundle:Frontend:layout.html.twig' %}

{% block title 'Accueil' %}


{% set menu = menu|default(false) %}

{% block page_header %}
    <div class="row" style="margin-bottom: 20px">

        <div class="col-lg-12" style="text-align: center">
            <img src="{{ asset('assets/img/drapeau.png') }}" alt="drapeau" class="drapeau" />
        </div>

        <div class="col-lg-12 main-title">
            <h1>
                <span class="color">A</span>cademicus
                <span class="color">S</span>anctae
                <span class="color">B</span>arbae
                <span class="color">O</span>rdo
            </h1>
        </div>

    </div>
{% endblock %}

{% block content_content %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-paperclip"></i> Dernière News :
                    Ephémérides Q2 - 2013-2014
                    <span class="pull-right"><i class="fa fa-calendar"></i> 21/01/2014</span>
                </div>
                <div class="panel-body">
                    <article class="sonata-blog-post-container">

                        <div class="sonata-blog-post-abstract">

                        </div>


                    </article>
                </div>
            </div>


        {% if is_granted('ROLE_WHOSWHO_USER') %}
            <div class="row">

                {% if next_fras_birthdays is not empty and last_quizz is not empty %}
                    <div class="col-lg-6">
                        <div class="row">
                            {% if next_fras_birthdays|length > 0 %}
                                <div class="col-lg-12">
                                    {% include 'AsboWebBundle:Frontend/WhosWho/Fra/Partials:_birthdayBetween.html.twig' with {'fras': next_fras_birthdays} only %}
                                </div>
                            {% endif %}

                            {% if last_quizz %}
                                <div class="col-lg-12">
                                    {% include 'AsboWebBundle:Frontend/Quizz:last.html.twig' with {'quizz': last_quizz} only %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="col-lg-6">
                    <div class="row">
                        {% if next_event %}
                            <div class="col-lg-12">
                                {% include 'AsboWebBundle:Frontend/Event/Event:next_event.html.twig' with {'event': next_event} only %}
                            </div>
                        {% endif %}

                        {% if next_events|length > 0 %}
                            <div class="col-lg-12">
                                {% include 'AsboWebBundle:Frontend/Event/Event:next_events.html.twig' with {'events': next_events} only %}
                            </div>
                        {% endif %}
                        <div class="col-lg-12">
                            {% if last_fras_login %}
                                {% include 'AsboWebBundle:Frontend/WhosWho/Fra/Partials:_lastConnection.html.twig' with {'fras': last_fras_login} only %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {#
                <div class="row">
                    {{ render(controller('AsboTimelineBundle:Timeline:timeline', {'_sylius': {'criteria': {'slug': asbo.fra.slug},'template': 'AsboWebBundle:Frontend/Timeline:timeline.html.twig'}})) }}
                </div>
            #}
        {% endif %}
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Bienvenue sur le site officiel de l'ASBO
            </div>
            <div class="panel-body">
                <p>Ami visiteur, peut-être ne le sais-tu pas, l'Ordre Académique de Sainte Barbe, plus connu sous son acronyme latin d'ASBO (Academicus Sanctae Barbae Ordo), est une confrérie estudiantine regroupant des étudiants majoritairement ingénieurs civils. Le passant trouvera sur ce site quelques informations utiles sur l'origine de l'Ordre, sa vie, la formation qu'il offre à ses membres, mais surtout, il pourra y trouver tout ce qui offre un intérêt aux yeux des membres au jour le jour...</p>
                <p>Que vive, croisse et fleurisse toujours l'Ordre Académique de Sainte Barbe !</p>
            </div>
        </div>
    {% endif %}

{% endblock %}
