app/*\.cache
app/cache/*

app/logs/*

app/config/parameters.yml
app/config/*.local.yml
app/bootstrap*

/coverage

/vendor/*
/bin/*

/web/uploads/*
/web/bundles/*
/web/assets/compiled/*

bin/doctrine*
bin/phpspec

phpspec.yml
behat.yml
