extensions:
    - PhpSpec\Extension\CodeCoverageExtension

code_coverage:
    format: clover
    whitelist:
        - src/Asbo/Bundle/EventBundle
        - src/Asbo/Bundle/WhosWhoBundle
        - src/Asbo/Bundle/QuizzBundle
        - src/Asbo/Bundle/ContactBundle
        - src/Asbo/Bundle/CoreBundle

suites:
  event:
    namespace: \Asbo\Bundle\EventBundle
    src_path: src
    spec_path: src/Asbo/Bundle/EventBundle/

  whoswho:
    namespace: \Asbo\Bundle\WhosWhoBundle
    src_path: src
    spec_path: src/Asbo/Bundle/WhosWhoBundle/

  quizz:
    namespace: \Asbo\Bundle\QuizzBundle
    src_path: src
    spec_path: src/Asbo/Bundle/QuizzBundle/

  contact:
    namespace: \Asbo\Bundle\ContactBundle
    src_path: src
    spec_path: src/Asbo/Bundle/ContactBundle/

  core:
    namespace: \Asbo\Bundle\CoreBundle
    src_path: src
    spec_path: src/Asbo/Bundle/CoreBundle/