<div class="media">
    {{ timeline_component_render(timeline, 'subject') }}
    <small>{{ timeline.verb|trans({}, 'AsboTimelineBundle') }}</small>
    </h4>
    {{ timeline_component_render(timeline, 'target') }}
</div>
